*{
    margin: 0;
    padding: 0;
    translate: yes;
}
h1{
    text-align: center;
    color: #e83946;
}
div{
    border: 1px solid #457d9d;
    border-style: dotted;
    padding: 10px 5px 10px 3px;  /*superior derecha-izquierda inferior*/
    margin: 0px;
    background-color:#f1faee;
    max-width: 100%; /*Esto indica que nuestro elemento va a tener este maximo y se ajustara  a 
    la pantalla del usuario si es necesario*/
    max-height: 100px;
    box-sizing: border-box;/*Esto hara que la suma de los elementos no se pase del ancho indicado*/
}