h1{
    text-align: center;
    color: #e83946;
}
div{
    border: 15px solid #457d9d;
    border-style: dotted;
    padding: 10px;  
    margin: 20px;
    background-color:#f1faee;
    width: 300px; /*Se debe tener en cuenta las medidas del padding margin border*/
}