h1{
    color: #e63946;
    text-align: center;
}
p{
    background-color:  #457b9d;
    color: #f1faee;
    padding: 15px;
    border: 10px solid #1d3557;
    /* margin: 50px;  */
    /* margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px; 
    margin-left: 10px;*/
    /*background-color: crimson;*/
    /* top derecha(right) abajo(bottom) izquierda(left)*/
    /* Si son iguales los tamaños de izquierda y derecha se dejar solo uno lo mismo para arriba y abajo*/
    /* margin: 40px 10px 20px 10px; */
    margin: auto 50px; /*Esto hace que se centre en left right*/
    text-align: center; /* Se utiliza para centrar el texto en una direccion*/
}